In [24]:
# import dependencies
import pandas as pd
import gmaps
import requests
# import API key
from config import g_key

In [2]:
# store csv as data_frame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Byron Bay,AU,2022-01-26 00:37:42,-28.6500,153.6167,78.76,86,100,5.14
1,1,Punta Arenas,CL,2022-01-26 00:36:55,-53.1500,-70.9167,48.31,57,0,27.63
2,2,Camacha,PT,2022-01-26 00:37:43,33.0833,-16.3333,58.42,59,40,18.41
3,3,Avarua,CK,2022-01-26 00:37:43,-21.2078,-159.7750,78.85,89,100,5.75
4,4,Yellowknife,CA,2022-01-26 00:37:44,62.4560,-114.3525,0.55,85,75,10.36

In [4]:
city_data_df.dtypes

city_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# configure gmaps to use google api key
gmaps.configure(api_key = g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
temps

[78.76,
 48.31,
 58.42,
 78.85,
 0.55,
 1.51,
 73.87,
 45.19,
 82.15,
 66.02,
 55.47,
 72.7,
 59.09,
 58.08,
 65.28,
 42.46,
 26.82,
 86.34,
 15.64,
 72.36,
 29.62,
 0,
 87.82,
 78.55,
 26.38,
 7.54,
 68.41,
 55.54,
 35.56,
 66.09,
 16.92,
 36.68,
 75.09,
 72.01,
 59.68,
 15.69,
 70.39,
 85.91,
 5.79,
 38.05,
 79.07,
 0,
 61.43,
 0,
 52.2,
 24.03,
 82.62,
 75.85,
 27.55,
 70.66,
 86.85,
 65.32,
 2.52,
 0,
 55.8,
 65.89,
 66.13,
 41.92,
 58.62,
 25.38,
 0,
 76.75,
 75.81,
 72.19,
 66.42,
 49.82,
 0,
 51.85,
 53.01,
 66.02,
 77.09,
 52.25,
 37.27,
 75.65,
 37.89,
 86.16,
 79.72,
 44.17,
 74.01,
 68.49,
 42.67,
 0,
 0,
 73.33,
 84.15,
 65.5,
 1.2,
 76.15,
 63.36,
 34.48,
 80.74,
 83.97,
 65.66,
 85.55,
 48.69,
 31.21,
 71.71,
 75.31,
 78.35,
 72.99,
 76.1,
 12.9,
 41.56,
 79.12,
 1.99,
 66.22,
 73.58,
 33.31,
 67.17,
 21.16,
 72.19,
 83.48,
 0,
 87.35,
 0,
 31.95,
 42.1,
 59.2,
 28.83,
 78.73,
 35.8,
 19.4,
 43.23,
 39.6,
 0,
 73.76,
 68.92,
 81.5,
 75.69,
 53.1,
 74.21,
 14.02,
 82.09,
 70.36,
 26.4,
 81.1,
 75.97,
 81.59,
 35.92,
 0,
 0,
 72.05,
 66.11,
 51.91,
 27.95,
 18.1,
 24.44,
 12.36,
 0,
 31.42,
 18.72,
 77.18,
 80.53,
 80.67,
 0,
 78.91,
 50.7,
 66.04,
 6.39,
 37.2,
 39.09,
 0,
 77.5,
 42.78,
 0,
 14.18,
 33.71,
 66.33,
 30.7,
 61.54,
 15.33,
 0,
 41.49,
 80.69,
 22.86,
 79.12,
 74.44,
 10.33,
 0,
 55.81,
 11.59,
 82.13,
 85.08,
 22.28,
 46.6,
 87.82,
 88.74,
 0,
 39.78,
 73.04,
 34.66,
 66.36,
 42.39,
 48.79,
 62.04,
 93.51,
 72.19,
 0,
 65.52,
 87.53,
 73.33,
 84.52,
 75.58,
 67.08,
 0,
 78.53,
 67.82,
 21.65,
 82.42,
 79.77,
 61.43,
 16.93,
 0,
 29.28,
 0,
 44.31,
 58.19,
 44.46,
 66.56,
 77.9,
 83.91,
 81.84,
 70.63,
 60.55,
 77.41,
 49.78,
 78.08,
 77.67,
 82.72,
 85.98,
 7.32,
 78.21,
 11.48,
 4.77,
 78.84,
 79.72,
 2.34,
 33.15,
 74.26,
 74.43,
 0,
 83.5,
 76.46,
 73.22,
 81.3,
 25.61,
 27.57,
 84.78,
 36.99,
 56.68,
 73.63,
 67.12,
 0,
 64.13,
 73.58,
 84.6,
 18.68,
 76.03,
 26.1,
 0,
 71.04,
 63.68,
 78.78,
 46.74,
 76.96,
 73.26,
 35.26,
 4.57,
 93.11,
 9.81,
 67.62,
 70.43,
 7.66,
 69.85,
 41.14,
 76.95,
 45.68,
 78.31,
 42.15,
 16.23,
 0,
 9.09,
 0,
 77.34,
 46.11,
 41.43,
 46.06,
 70.11,
 89.74,
 85.48,
 65.34,
 75.6,
 23.83,
 83.95,
 62.24,
 37.62,
 19.98,
 0,
 84.31,
 63.36,
 46.9,
 56.5,
 75.49,
 27.32,
 36.01,
 77.02,
 70.97,
 16.39,
 74.88,
 34.12,
 0,
 77.05,
 46.47,
 75.2,
 37.54,
 53.56,
 66.22,
 26.8,
 78.58,
 62.13,
 82.62,
 80.53,
 25.2,
 50.36,
 0,
 8.19,
 69.3,
 70.07,
 79.84,
 71.82,
 27.1,
 76.68,
 25.25,
 43.45,
 71.64,
 0,
 38.16,
 19.85,
 80.19,
 65.08,
 0,
 61.88,
 17.89,
 53.69,
 75.22,
 72.72,
 79.03,
 81.93,
 0,
 0,
 86.23,
 69.39,
 48.78,
 62.44,
 75.58,
 58.39,
 6.42,
 21.58,
 73.06,
 85.57,
 0,
 20.08,
 29.77,
 33.75,
 80.6,
 74.91,
 0,
 73.49,
 83.79,
 21.2,
 76.59,
 77.04,
 45.57,
 82.15,
 12.09,
 0,
 0,
 0,
 81.39,
 84.04,
 19.81,
 57.99,
 82.9,
 76.77,
 62.31,
 41.18,
 80.92,
 51.31,
 18.75,
 62.6,
 35.02,
 59.23,
 66.54,
 63.41,
 14.59,
 77.0,
 66.27,
 81.05,
 59.92,
 82.24,
 14.22,
 53.71,
 70.77,
 66.18,
 0,
 30.74,
 61.36,
 33.93,
 10.47,
 73.53,
 75.38,
 44.69,
 0,
 43.54,
 67.05,
 45.91,
 55.62,
 73.35,
 19.58,
 2.79,
 80.1,
 43.34,
 73.54,
 75.43,
 63.97,
 80.13,
 39.92,
 84.42,
 32.85,
 77.76,
 29.35,
 29.61,
 44.56,
 74.39,
 1.62,
 68.13,
 35.22,
 62.85,
 76.35,
 75.45,
 70.99,
 18.05,
 73.17,
 75.25,
 38.08,
 84.67,
 43.54,
 49.01,
 34.97,
 0,
 60.78,
 3.4,
 0,
 48.43,
 71.55,
 0,
 19.96,
 54.86,
 33.24,
 55.78,
 53.6,
 0,
 41.45,
 67.89,
 69.58,
 63.77,
 69.89,
 81.43,
 17.62,
 82.42,
 17.56,
 25.65,
 20.26,
 67.12,
 25.68,
 37.47,
 0,
 6.96,
 64.98,
 42.78,
 46.76,
 48.34,
 19.35,
 80.26,
 20.05,
 12.81,
 18.82,
 0,
 84.83,
 32.23,
 18.93,
 27.86,
 44.51,
 79.36,
 77.09,
 64.17,
 40.89,
 47.17,
 83.66,
 0,
 41.47,
 67.91,
 74.98,
 46.35,
 18.45,
 73.78,
 0,
 64.22,
 37.0,
 39.81,
 0,
 80.46,
 77.18,
 85.89,
 44.2,
 11.43,
 61.5,
 62.28,
 42.6,
 84.92,
 79.11,
 39.34,
 0,
 57.42,
 0,
 62.65,
 55.96,
 75.25,
 0,
 75.67,
 70.39,
 34.11,
 26.62,
 63.79,
 57.74,
 16.61,
 75.13,
 74.37,
 76.98,
 0,
 76.05,
 89.65,
 75.67,
 75.51,
 78.48,
 21.15,
 0,
 16.47,
 73.87,
 79.54,
 21.11,
 68.79,
 0,
 72.34,
 73.53]

In [14]:
max_temp = city_data_df["Max Temp"]
# assign locations to array of latitude, longitude pairs
locations = city_data_df[["Lat", "Lng"]]
# get max temp
max_temp = city_data_df["Max Temp"]
#assign figure variable to gmaps.figure() attribute
fig = gmaps.figure(center=(30.0,30.0), zoom_level = 1.25)
# assign heatmap_layer variable to heatmap_layer attrib and add locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in max_temp])

# add heatmap layer
fig.add_layer(heat_layer)
# call fig to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
git = gmaps.figure(center=(30,31), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = wind, 
                                 dissipating=False,
                                max_intensity=300,
                                point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? (F) "))
max_temp = float(input("What is the maximum temperature you would like for your trip? (F) "))

What is the minimum temperature you would like for your trip? (F) 15
What is the maximum temperature you would like for your trip? (F) 35

In [22]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp)
                                       & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head()

,city_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
16,16,Narsaq,GL,2022-01-26 00:37:48,60.9167,-46.0500,26.82,88,100,10.38
18,18,Longyearbyen,SJ,2022-01-26 00:37:49,78.2186,15.6401,15.64,62,40,19.57
20,20,Komsomolskiy,UZ,2022-01-26 00:37:50,40.4272,71.7189,29.62,80,75,4.61
24,24,Severo-Kurilsk,RU,2022-01-26 00:37:51,50.6789,156.1250,26.38,55,45,5.75
30,30,Goderich,CA,2022-01-26 00:37:53,43.7501,-81.7165,16.92,85,100,5.75

In [23]:
preferred_cities_df.count()

city_ID       83
City          83
Country       83
Date          83
Lat           83
Lng           83
Max Temp      83
Humidity      83
Cloudiness    83
Wind Speed    83
dtype: int64

In [28]:
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']]
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

C:\Users\kmbur\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              City Country  Max Temp      Lat       Lng Hotel Name
16          Narsaq      GL     26.82  60.9167  -46.0500
18    Longyearbyen      SJ     15.64  78.2186   15.6401
20    Komsomolskiy      UZ     29.62  40.4272   71.7189
24  Severo-Kurilsk      RU     26.38  50.6789  156.1250
30        Goderich      CA     16.92  43.7501  -81.7165
35      Nikolskoye      RU     15.69  59.7035   30.7861
45          Kardla      EE     24.03  58.9978   22.7492
48        Kamaishi      JP     27.55  39.2667  141.8833
59          Albany      US     25.38  42.6001  -73.9662
89          Bethel      US     34.48  41.3712  -73.4140

In [33]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
params = {'key':g_key,
         'radius':5000,
         'type':'lodging'}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found; skipping {city}")

Hotel not found; skipping Albany
Hotel not found; skipping Voyinka
Hotel not found; skipping Yumen
Hotel not found; skipping Pavlivka
Hotel not found; skipping Hadrut
Hotel not found; skipping Blagoyevo
Hotel not found; skipping Shitanjing
Hotel not found; skipping Svetlaya
Hotel not found; skipping Koslan
Hotel not found; skipping Sobolevo

In [34]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
16,Narsaq,GL,26.82,60.9167,-46.0500,Sleep In Narsaq
18,Longyearbyen,SJ,15.64,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
20,Komsomolskiy,UZ,29.62,40.4272,71.7189,Ikathouse
24,Severo-Kurilsk,RU,26.38,50.6789,156.1250,Kak Doma
30,Goderich,CA,16.92,43.7501,-81.7165,Harmony Inn

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add heatmap of temperature for vacation spots
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

# create heatmap layer
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                dissipating=False,
                                max_intensity=300,
                                point_radius = 4)
# create markers
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

# add layers and plot data
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))